*.class
*.iml
*.ipr
*.iws
*.log
*.un~
*~
.*.s[a-w][a-z]
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.idea/
.netrwhist
.scala_dependencies
Icon
Session.vim
dist/*
lib_managed/
project/boot/
project/plugins/project/
src_managed/
target/
